{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Libre+Franklin" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

<link rel="stylesheet" href=" {% static 'css/admin-chg-pwd.css' %}">
<link rel="stylesheet" href=" {% static 'js/admin-chg-pwd.js' %}">


{% endblock %}

{% block content %}

<br><br><br> <br><br><br><br><br><br>
<section class="section mb-5 mt-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 text-center">

                
                <div id="container">
                    <div id="header"> </div>
                    <div id="form">
                        <form>
                            <!-- required -->
                            <input type="password" placeholder="Old Password" id="passOld" > <br><br>

                            <input type="password" placeholder="New Password" id="passOne" > <br><br>

                            <input type="password" placeholder="Confirm Password" id="passTwo"> <br><br><br>
                            <div class="pass-sub">
                                <a href="">
                                    <input type="button" value="Submit" id="btn1" class="btn-primary"> </a>
                            </div>
                        </form>
                    </div>
                    <div id="footer" class="incorrect"></div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
    </div>
</section>


{% endblock %}