{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin Login</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>    
    <link rel="stylesheet" href="{% static 'assets/css/login.css' %}" />
  </head>

  <body>

    <div>

      <form id="admin_login_form" method="POST">
        {% csrf_token %}

        <p>Login</p>

        <label for="Name" class="label mt-5">Name</label><br />
        <input type="text" style="font-size: medium;" id="admin_email" name="admin_id" required /><br />
        <label for="password" class="label">Password</label><br />
        <input type="password" style="font-size: medium;" id="admin_password" name="password" /><br /><br />
        <button type="submit" class="btn btn-primary" >Login</button><br />

         <p class="text-danger" style="font-size: medium;">{{ error_msg }} </p>
      </form>
      

    </div>
     
  </body>
</html>
