{% extends 'hms_admin/admin_master.html' %}
{% load static %}

{% block header %}

{% endblock %}

{% block content %}

<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center mt-5">
                <div>
                    <h2>View Patient</h2>

                    <div class="mt-5" style="width:95%; ">


                        <table style="border-spacing: 30px;" class="table table-striped">
                            <thead class="table-dark">
                                <tr>
                                    <th >Patient ID</th>
                                    <th> Name </th>
                                    <th>Admission</th>
                                    <th>Address</th>
                                    <th> Contact</th>
                                    <th>Patient Profile</th>
                                    <th width="10%"> Action</th>
                                </tr>
                            </thead>
                            {% for patient in patient %}
                            <tbody>
                                
                                <tr>
                                    
                                    <td rowspan="3">{{patient.id}}<br><br> </td>
                                    <td rowspan="3"> {{patient.patient_name}} <br><br></td>
                                    <td rowspan="3"> Date : dd/mm/yyyy <br>  Time : <br> </td>
                                    <td rowspan="3"> {{patient.address}} <br> Address 2 <br> Address 3 </td>
                                    <td rowspan="3"> {{patient.phone}} <br> <br> </td>
                                    <td rowspan="3"> Blood Group : {{patient.blood_grp}} <br> Gender :{{patient.gender}} <br> DOB : {{patient.dob}} </td>
                                    <td rowspan="3">  
                                        <button type="button" class="btn btn-success">EDIT</button>  <br> 
                                        <button type="button" class="btn btn-danger">DELETE</button>
                                      </td>
                                     
                                </tr>
                               
                            </tbody>
                            {% endfor %}
                        </table>


                    </div>


                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}