{% extends 'doctor/doctor_master.html' %}
{% load static %}

{% block header %}
{% endblock %}

{% block content %}

<!-- Schedule  -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-7 text-center">
            <div class="mt-5">
                <table class="table table-primary table-striped">
                    <tr>
                        <th> Sl No </th>
                        <th> Weekday </th>
                        <th> Start Time </th>
                        <th> End Time </th>
                        <th> Duration </th>
                        <th> Options </th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}