body {
  background: url("http://myminispot.com/images/prox.png");
  background-size: cover;
}

#container {
  position: absolute;
  background: #fff;
  height: 400px;
  width: 800px;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -175px;

  box-shadow: 0px 30px 150px;
  -webkit-box-shadow: 0px 30px 150px;
  -moz-box-shadow: 0px 30px 150px;

  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}

#header {
  background-color: #04609D;
  font-family: 'Francois One', sans-serif;
  height: 25px;
  width: 800px;
  position: absolute;
  top: 0;
  color: white;
  margin-top: -2px;

  border-radius: 15px 15px 0px 0px;
  -webkit-border-radius: 15px 15px 0px 0px;
  -moz-border-radius: 15px 15px 0px 0px;
}

#footer.incorrect {
  background-color: #04609D;
  font-family: 'Francois One', sans-serif;
  height: 25px;
  width: 800px;
  position: absolute;
  bottom: 0;
  color: white;
  margin-bottom: -2px;

  border-radius: 0px 0px 15px 15px;
  -webkit-border-radius: 0px 0px 15px 15px;
  -moz-border-radius: 0px 0px 15px 15px;
}

#form {
  height: 180px;
  position: absolute;
  top: 25%;
  margin-top: -50px;
  width: 75%;
  left: 50%;
  margin-left: -37.5%;
}

input {
  width: 70%;
  margin: 0;
  border: 0;
  border: 1px solid;
  outline: none;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
}

#btn1{
width: 40%;
border-radius: 15px;
}

input#passOne,
input#passTwo,
input#passOld {
  border: 1px solid;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
}