.booking {
    margin-top: 15px;
    justify-content: center;
    box-shadow: 0 3px 1px -2px rgba(0 0 0 / 20%),
        0 2px 2px 0 rgba(0 0 0 / 14%),
        0 1px 5px 0 rgba(0 0 0 / 12%);
    text-decoration: none;
    border-radius: 10px;
    width: 80%;
    margin-left: 10%;
}

.card {
    border: none;
    margin-top: 10px;
}

:root {
    --borderWidth: 7px;
    --height: 24px;
    --width: 12px;
    --borderColor: #78b13f;
}

body {
    padding: 20px;
    text-align: center;
}

.check {
    display: inline-block;
    transform: rotate(45deg);
    height: var(--height);
    width: var(--width);
    border-bottom: var(--borderWidth) solid var(--borderColor);
    border-right: var(--borderWidth) solid var(--borderColor);
}

.time, .ref {
    width: 500px;
    float: left;
    box-shadow: 0 3px 1px -2px rgba(0 0 0 / 20%),
        0 2px 2px 0 rgba(0 0 0 / 14%),
        0 1px 5px 0 rgba(0 0 0 / 12%);
}
.time{
    margin-left: 20px;
}
.ref{
    margin-left: 200px;
}