{% extends 'patient/appt_1.html' %}
{% load static %}

{% block header %}


<link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<link rel="stylesheet" href="//fonts.googleappis.com/css?family=Roboto:300,400,500,700|Material+Icons">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

<link rel="stylesheet" href="{% static 'css/appt_3.css' %}">


{% endblock %}


{% block content %}

<!-- row start  -->
<div class="row d-flex h-100 dr_details">

    <div class="col-1 arw">
        <a href=""> <span class="material-symbols-outlined btn" id="arrow_left">
                keyboard_arrow_left
            </span></a>
    </div>

    <div class="col-3">
        <div class="card">
            <div class="card-body p-4">
                <div class="d-flex text-black">
                    <div class="flex-shrink-0">
                        <img src="https://care.bestdocapp.com/_nuxt/img/male_doctor.7fec7ec.svg"
                            alt="Generic placeholder image" class="img-fluid"
                            style="width: 80px; height: 80px; border-radius: 10px;" />
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h5 class="mt-4 mb-1 text-uppercase">{{ dr_name | title }}</h5>
                        <p class="mb-2 pb-1 text-uppercase" style="color: #2b2a2a;">
                            
                            {{ dep |  upper}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-4"></div>

    <div class="col-2">
        <div class="card fees mt-4">
            <div class="card-body p-4">
                <div class="v-card">
                    <span class="body-1">{{ selected_date }}</span> <br>
                    <span class="title"><b>{{ selected_time }}</b> </span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-2">
        <div class="card fees mt-4">
            <div class="card-body p-4">
                <div class="v-card">
                    <span class="body-1">Fee*</span> <br>
                    <span class="title"><b>₹{{ fee }}</b> </span>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- row end  -->

<!-- row start  -->
<div class="row pt_dt mt-3">
    <div class="col-12">
        <h3 class="mt-3 mb-5">Patient Details</h3>
    </div>
</div>
<!-- row end  -->

<!-- row start  -->
<!-- <div class="row uhid mt-3">
    <div class="col-12">
        <div>
            <form>
                <div>
                    <label> Enter UHID or Mobile Number to proceed</label> <br>
                    <input placeholder="Type here">
                </div>
            </form>
        </div>
    </div>
</div> -->

<!-- row end  -->

<!-- row start  -->
<!-- <div class="row pt_dt mt-4 mb-4">
    <div class="col-12">
        <h3>New Patients Register Here & Proceed</h3>
    </div>
</div> -->
<!-- row end  -->


<!-- row start  -->
{% comment %} <div class="row register mt-3 mb-3">
    <div class="col-4">
        <form>
            <div>
                <input type="text" placeholder="UHID">
            </div>
        </form>
    </div>
    <div class="col-4">
        <form>
            <div>
                <input type="text" placeholder="Blood Group">
            </div>
        </form>
    </div>
</div> {% endcomment %}
<!-- row end  -->

<!-- row start  -->
<div class="row register mb-4">
    <div class="col-5">
        <form method = 'POST' >
            {% csrf_token %}
            <div>
                <input type="text" required name = 'p_name' placeholder="Name">
            </div>
        
    </div>
    <div class="col-5">
         
            <div class="gen mt-3">
                <input type="radio" checked name="gender" value = 'male' id="male" style="width: 50px;">Male
                <input type="radio" name="gender" id="female" value ="female" style="width: 50px;">Female
            </div>
         
    </div>
</div>
<!-- row end  -->

<!-- row start  -->
<div class="row register">
    <div class="col-4">
        
            <div>
                <input type="number" required name ="mobile" placeholder="Mobile Number">
            </div>
         
    </div>
    <div class="col-4">
         
            <div>
                <input type="number" required name = "age" placeholder="Age">
            </div>
         
    </div>
</div>
<!-- row end  -->

<div class="row mt-5 bottom">
    <div class="col-6">
        {% if 'patient' in request.session %}
        <input type = "submit" name="apt" value = 'Book' class="btn btn-primary"> 
        {% else %}
        <input type = "submit" name="apt" value = 'Book' class="btn btn-primary">
        {% endif %}
        <!-- <a href="" class="btn btn-primary">PAYMENT</a>
        <a href="#otpmodal" class="btn btn-primary ml-3" data-bs-toggle="modal" data-bs-target="#exampleModal">BOOK</a> -->
    </div>
</div>
</form>


<!-- <div id="otpmodal"> -->
    <!-- Modal -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex">
                        <div class="card cnt">
                            <h5 class="m-0">We have sent an OTP message to</h5>
                            <h5 class="m-0">the mobile number</h5> -->
                            <!-- <span class="mobile-text">Enter the code we just send on your mobile phone
                                <b class="text-danger">+91 86684833</b></span> -->
                            <!-- <div class="d-flex flex-row mt-5">
                                <input type="text" class="form-control" autofocus="">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                                <input type="text" class="form-control">
                            </div>
                            <div class="mt-5">
                               
                            </div>
                            <div class="text-center mt-5">
                                <span class="d-block mobile-text">Don't receive the OTP?</span>
                                <span class="font-weight-bold text-primary cursor">Resend OTP</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> -->

{% endblock %}