{% extends 'patient/patient_home.html' %}
{% load static %}

{% block header %}
<link rel="stylesheet" href=" {% static 'css/pt_chg-pwd.css' %}">
<link rel="stylesheet" href=" {% static 'js/pt_chg-pwd.js' %}">
{% endblock %}

{% block content %}
<br><br><br>
<section class="section mb-5 mt-5">
    <div class="container ">
        <div class="row justify-content-center">
            <div class="col-lg-11 text-center">
                <div id="container">
                    <div id="header"></div>
                    <div id="form">
                        <form method="POST">
                            {% csrf_token %}
                            <input type="password" placeholder="Old Password" name="old_pswd" id="passOld"> <br><br>

                            <input type="password" placeholder="New Password" name="new_pswd" id="passOne"> <br><br>

                            <input type="password" placeholder="Confirm Password" name="confirm_pswd" id="passTwo">
                            <br><br><br>
                            <div class="pass-sub">
                                <a href="{% url 'patient:confirm' %}">

                                    <input type="button" value="Submit" id="btn1" class="btn-primary">
                                </a>
                            </div>
                        </form>
                        <p class="text-success"></p>{{ success_msg }}</p>
                        <p class="text-danger"></p>{{ error_msg }}</p>
                    </div>
                    <div id="footer" class="incorrect"></div>
                </div>
            </div>
        </div>
    </div> <br><br><br>
</section>


{% endblock %}